.ant-layout-content{
  min-height: 500px;
}
.site-layout .site-layout-background {
  background: #f2f4f5;
}
.ant-tabs-nav-scroll{
  background-color: #fff;
}

.ant-tabs-bar{
  margin: 0;
}
.logo{
height: 64px;
}
.ant-breadcrumb span:first-child{
  margin-left: 12px;
}
.ant-layout-header{
  background-color: white!important;
  border-bottom: 1px solid #f2f4f5;
}